@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/allenia');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coming+Soon&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pacifico&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: "Orbitron", sans-serif;
*/


body {
    margin: 0;
    background-color: #000000;
    font-family: Poppins;
    color: #eee;
}

:root {
    --width: min(1200px, 100%);
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 100vh;
}

header {
    width: var(--width);
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-inline: 20px;
}

header .logo img {
    height: 30px;
}

header nav ul {
    display: flex;
    gap: 2em;
}

header nav ul li.active {
    border-bottom: 1px solid #eee8;
}

#bg_city {
    margin-top: -50px;
}


.banner {
    position: relative;
    min-height: 100vh;
}

.banner .content {
    position: absolute;
    width: var(--width);
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: grid;
    grid-template-rows: 10vh 40vh 20vh;
}


main {
    position: relative;
}

main::after {
    width: 100%;
    height: 100px;
    content: '';
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 100%;
    background-image: linear-gradient(to top, #000, #0000);
}

.banner .content .item:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.banner .content .item:nth-child(1) div:nth-child(2) {
    text-align: right;
}

.banner .title {
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Allenia', sans-serif;
}

.banner .title p {
    margin: 0;
    padding: 0;
}

#subhead {
    font-size: 1.5rem;
    font-family: 'Allenia', sans-serif;
    display: inline-block;
    margin: 0 10rem;
    position: relative;
    top: 5rem;

}

.division {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    gap: 10rem;
}

#about-head {
    font-size: 2.5rem;
    font-family: "Allenia", sans-serif;
    margin-top: 30rem;
    font-style: italic;
    width: 100rem;
}

.img-con {}

#about-img {
    width: 100%;
    height: 100%;
}

.sub-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about-des {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 25rem;
}

#about-sub {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.btn {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    padding: 0.5rem 2rem;
    font-weight: 400;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    transition: all 200ms ease;
}

.btn:hover {
    color: white;
    background-color: transparent;
}

@media screen and (max-width: 1023px) {

    .me h1,
    .me h2 {
        font-size: 3em;
    }

    .banner .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 767px) {

    .me h1,
    .me h2 {
        font-size: 2em;
    }
}

#bg_city {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg_city svg {
    width: 100%;
    height: 100%;
    object-position: center;
}

#features {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80rem;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 3rem;
}

.feature-con:nth-child(1) {
    grid-column-start: 3;
    margin-left: -10rem;
}

.feature-con:nth-child(2) {
    grid-column-start: 4;
}

.feature-con:nth-child(3) {
    grid-column-start: 1;
    grid-template-rows: 2;
}

.feature-con:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 3;
}

#number {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 8rem;
    font-weight: 300;
    font-family: "Allenia", sans-serif;
}

.sec {
    font-size: 3rem;
    align-self: flex-end;
    font-weight: 100;

}

.sec2 {
    font-size: 3rem;
    align-self: flex-end;
    font-weight: 100;
    width: 10rem;
}



#number-des {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    height: 60rem;
    position: relative;
    margin-top: 5rem;
}

.slider-track {
    will-change: transform;
    display: flex;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

.slide {
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0.8);
    opacity: 0.4;
    display: flex;
    flex-shrink: 0;
    width: 450px;
    height: 90%;
    padding-left: 20px;
    padding-right: 20px;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.slide.active {
    transform: scale(1);
    opacity: 1;
}


#slider-heading {
    font-family: "Allenia", sans-serif;
    font-size: 6rem;
    width: 60rem;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 14rem;
    padding-top: 5rem;
}

.slider-text-container {
    width: 50rem;
    margin: 0 25rem;
    flex-direction: row;
    display: flex;
    margin-top: -10rem;
    gap: 2rem;
}

#slider-des {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    width: 30rem;
    color: gray;
    font-weight: 300;
    align-self: flex-end;

}

#vision {}

.wrapper {
    align-self: flex-start;
    width: 80rem;
    overflow: hidden;
    position: relative;
    padding-top: 10rem;
}

.holder {
    width: 45rem;
    overflow: hidden;
}



#vision-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
}

#vision-head {
    font-size: 5rem;
    font-family: "Allenia", sans-serif;
    position: absolute;
    z-index: 1;
    margin-top: -50rem;
    width: 40rem;
    margin-left: 30rem;
}

#vision-des {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: gray;
}

.vision-con {
    align-self: center;
    justify-self: center;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -20rem;
    margin-left: 50rem;

}

footer {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*margin-top: 35rem;*/
}

#footer-head {
    font-size: 4rem;
    font-family: "Allenia", sans-serif;
}


/*Responsive */

@media screen and (min-width: 1600px) {
    header {
        width: 100rem;
    }

    .subsub {
        font-size: 1.5rem;
    }

    .banner .title p {
        font-size: 7rem;
    }

    #subhead {
        font-size: 3rem;
    }

    #about-head {
        font-size: 4rem;
        width: 90rem;
    }

    #about-des {
        font-size: 1.2rem;
    }

    #about-sub {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 0.8rem 3rem;
    }

    #features {
        width: 90rem;
    }

    #number {
        font-size: 12rem;
    }

    .feature-con:nth-child(1) {
        margin-left: -15rem;
    }

    .feature-con:nth-child(2) {
        margin-left: 10rem;
    }

    #slider-heading {
        font-family: "Allenia", sans-serif;
        font-size: 8rem;
        width: 60rem;
        text-align: center;
        position: absolute;
        z-index: 10;
        left: 28rem;
        padding-top: 5rem;
    }

    .slide {
        transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transform: scale(0.8);
        opacity: 0.4;
        display: flex;
        flex-shrink: 0;
        width: 650px;
        height: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider-text-container {
        width: 50rem;
        margin: 0 40rem;
        flex-direction: row;
        display: flex;
        margin-top: 5rem;
        gap: 2rem;
    }

    .holder {
        width: 60rem;
    }

    #vision-head {
        font-size: 7rem;
        font-family: "Allenia", sans-serif;
        position: absolute;
        z-index: 1;
        margin-top: -60rem;
        width: 60rem;
        margin-left: 40rem;

    }

    .vision-con {
        align-self: center;
        justify-self: center;
        width: 35rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: -25rem;
        margin-left: 70rem;
    }

    #vision-des {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }

    .banner {
        height: 120rem;
    }

    #subhead {
        margin: 0 2rem;
    }

    .division {
        flex-direction: column;
        gap: 2rem;
    }

    #about {
        height: min-content;
        margin-top: -65rem;
    }

    #about-head {
        font-size: 2.5rem;
        font-family: "Allenia", sans-serif;
        margin-top: 5rem;
        font-style: italic;
        text-align: center;
        width: 20rem;
    }

    #about-des {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        width: 20rem;
    }

    #learn {
        align-self: center;
    }

    #features {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 10rem;
        height: min-content;
        padding-bottom: 2rem;
    }

    .feature-con:nth-child(1) {
        margin-left: 0;
    }

    .feature-con:nth-child(2) {
        margin-left: 5rem;
    }

    .feature-con:nth-child(3) {
        margin-left: 4rem;
        #number {
            font-size: 5rem;
        }
    }

    #slider {
        width: 100%;
        height: min-content;
        padding-bottom: 2rem;
    }

    .slide {
            transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0.4;
    display: flex;
    flex-shrink: 0;
    width: 350px;
    height: 90%;
    padding-left: 20px;
    padding-right: 20px;
    }
    #slider-heading {
        font-family: "Allenia", sans-serif;
    font-size: 4rem;
    width: 20rem;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 0.5rem;
    margin-top:-10rem    }

    #slider-des {
        align-self: flex-start;
        width: 20rem;
    }
    .slider-text-container {
        width: 25rem;
    margin: 0 2rem;
    flex-direction: column;
    display: flex
;
    margin-top: -10rem;
    gap: 2rem;
    }

    #vision {
        height: min-content;
        padding-bottom: 5rem;
    }

    #vision-head {
            font-size: 2.7rem;
    font-family: "Allenia", sans-serif;
    position: absolute;
    z-index: 1;
    margin-top: -35rem;
    width: 20rem;
    margin-left: 1rem;
    text-align: center;
    }

    .holder {
        width: 20rem;
    overflow: hidden;
    margin-left: 1.2rem;
    }
    .vision-con {
            align-self: center;
    justify-self: center;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    }


}
